
/* Style the login container */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 350px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Add spacing between input fields */
.p-field {
    margin-bottom: 20px;
}

/* Adjust the button styling */

label {
    font-size: 14px;
    font-weight: bold;
}
