.app {
    display: flex;
    height: 100vh;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;

}

.content {
    width: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;

}

.router-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Ensure it takes up full width */
}

.csv-table {
    margin: 20px;
    border-collapse: collapse;
}

.csv-table table {
    width: 100%;
    border: 1px solid #ddd;
}

.csv-table th,
.csv-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.csv-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

