.app {
    display: flex;
    height: 100vh;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;

}

.content {
    width: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;

}

.router-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Ensure it takes up full width */
}

.csv-table {
    margin: 20px;
    border-collapse: collapse;
}

.csv-table table {
    width: 100%;
    border: 1px solid #ddd;
}

.csv-table th,
.csv-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.csv-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.field-grid {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin-bottom: 1rem; 
  }
  
  .field-label {
    width: 12rem; 
    font-weight: bold; 
  }
  
  .app {
    display: flex;
    height: 100vh;
  }
  
  .main {
    flex: 1;
    transition: margin-left 0.3s ease;
  }
  
  .main-expanded {
    margin-left: 250px; 
  }
  
  .main-collapsed {
    margin-left: 60px; 
  }
  
  .content {
    padding: 20px;
  }
